.lecture-selctor-container {
  display: flex;
  justify-content: space-between;

  .list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px;
    &:last-child {
      justify-content: flex-end;
    }
    .lecture-select-list {
      border: 1px solid;
      height: 90px;
      overflow: auto;
      width: 100%;
    }
  }
}

.lectureSelect {
  cursor: pointer;
  user-select: none;
}
