.lecture-selctor-container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px;
    @media screen and (max-width: 800px) {
      width: 100%;
      margin: 0;
    }
    &:last-child {
      justify-content: flex-end;
    }
    .lecture-select-list {
      border: 1px solid;
      height: 90px;
      overflow: auto;

      @media screen and (max-width: 800px) {
        margin: 5px;
      }
    }
  }
}

.lectureSelect {
  cursor: pointer;
  user-select: none;
}
