.buildingItem {
  width: 100%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  align-items: center;
  flex-direction: row-reverse;
}
.itemName {
  width: 90%;
  text-align: right;
}
