/** Cutomising Bulma main colours */
$black: #101010;
$text: lighten($black, 20%);
$primary: #2f7aa9;
$blue: $primary;
$red: #e33535;
$background: rgb(244, 246, 248);
$info: #32c9fb;
$menu-item-active-color: $blue;
$menu-item-active-background-color: #f4f6f8;
$grey: #AFAFAF;
$greyLight: #EFEFEF;
$green: rgb(187, 229, 179);
$blue: rgb(180, 225, 250);
$border: $greyLight;
$tabs-link-active-color: $primary;
