@import 'src/assets/scss/colors';

.content-container {
  display: flex;
  flex: 1 1 auto;
  max-height: 100%;
  flex-direction: column;
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
  background-color: rgb(244, 246, 248);
  height: 100%;
  width: 100%;

  &.center {
    justify-content: center;
    align-items: center;
  }
}
