.greetUser {
  display: flex;
  margin-right: 15px;
}

.menu-container {
  display: flex;
  height: 100%;

  .menu-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    width: 50%;

    .single-link {
      text-decoration: none;
      color: inherit;
      position: relative;
      &.active {
        color: #ff6633;
        &::before {
          content: ' ';
          position: absolute;
          border: solid 40px transparent;
          border-top: solid 4px transparent;
          border-width: 10px;
          left: 50%;
          margin-left: -10px;
          border-color: #f1f1f1 transparent transparent transparent;
          transform: rotate(180deg);
          top: 19px;
        }
      }
    }
  }

  .icon-menu-container {
    width: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    padding-left: 50px;

    .iconLink {
      cursor: pointer;
      margin: 0 5px;
      user-select: none;

      &.settings-icon {
        font-size: 24px;
        user-select: none;
        margin-left: 30px;
      }
    }
  }
}
