.settings-container{
    width: 169px;
    height: 460px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    text-align: right;
    
   .setting-link{
       text-decoration: none;
       color: inherit;
       padding: 5px 10px;
       user-select: none;

      &:hover{
          color: black;
          background-color: rgba(226, 226, 226, 0.425);
      } 
   }  
}