.tabs-container {
  padding: 20px 10px 20px 10px;

  .tabs-links {
    display: flex;
    flex-direction: row-reverse;
    span {
      cursor: pointer;
      padding: 15px 15px 25px;
      font-weight: 500;
      border-bottom: 1px solid #848484;
      width: 100%;
      text-align: center;
      &.active {
        color: #4775d1;
        border: 1px solid #848484;
        border-bottom: 0;
      }
      &.disable {
        cursor: no-drop;
        opacity: 0.5;
      }
    }
  }
}
