.DataSpinnerContainer {
  width: 100%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  // padding: 15px 0;
  align-items: center;
}

.cellContainer {
  width: 100%;
  display: flex;
}

// Animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

// Page Elements
.buttonPlaceHolder {
  height: 35px;
  width: 10%;
  margin: auto;
  //  background: #F6F6F6;
  @extend .animated-background;
}

.textLinesContainer {
  margin-left: 20px;
  width: 90%;
}

.text-line {
  height: 10px;
  width: 100%;
  margin: 10px 0;
  @extend .animated-background;
}
