
.signIn-continer{

    border: solid 1px #ccc;
    max-width: 500px;
    margin: 20px auto;


    .sign-in-buttons{
     display: flex;
     justify-content: center;
    margin-bottom: 10px;
    }
}


.signIn-title{
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}




