.tableTop {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #ff6633;
  margin-top: 10px;

  .tableTopTitle {
    margin-right: 5px;
    width: 60%;
    text-align: right;
    span {
      width: 90%;
      margin-right: 5px;
    }
    &:last-child {
      width: 20%;
      text-align: left;
      margin-left: 0.5rem;
    }
  }
}
