.selectInput {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  .Selector {
    margin-right: 20px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    font-size: 1em;
    direction: rtl;
  }
  .selectInputLabel {
    margin: auto 5px;
  }
}
