.groupDateInput {
  .date-input {
    padding: 5px;
    font-family: unset;
    margin-right: 5px;
    @media screen and (max-width: 800px) {
      padding: 5px 0;
    }
  }
  label {
    margin-right: 5px;
  }
}
