.classItem {
  width: 100%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  align-items: center;
  flex-direction: row-reverse;

  .classButtons {
    flex-wrap: wrap;
    display: flex;
    width: 10%;
    justify-content: space-evenly;

    .button {
      border: none;
      color: white;
      font-size: 20px;
      border-radius: 5px;
      cursor: pointer;
      margin: 2px;
      width: 30px;

      &.editButton {
        background-color: #ffc107;
      }
      &.deleteButton {
        background-color: #ff0000;
      }
    }
  }

  .className {
    width: 65%;
    text-align: right;
  }
}
